.modalContainer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(102, 102, 102, 0.503);
  z-index: 100;
}

.modalyo {
  z-index: 1500;
  margin-left: auto;
  margin-right: auto;
  display: inline-block !important;
  width: 500px;
  max-width: 500px;
  max-height: 500px !important;
  border: 5px;
  padding: 20px;
  background-color: white;
  border-radius: 6px;
  box-sizing: border-box;
}

.modal__head {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.modal__close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}

.modal__close:hover {
  color: hsl(0, 70%, 70%);
}
